@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  background-color: #393939;
}
.contact {
  display: flex;
  gap: 12px;
  font-family: cursive;
}
.first-icons {
  display: flex;
  gap: 12px;
}
.first-icons .bx-wifi {
  transform: rotate(30deg);
}
.first-icons a {
  color: aliceblue;
}
.contact .envelope {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contact a {
  text-decoration: none;
  color: aliceblue;
}
.icon:hover {
  color: #ff5c00;
}
.first-icons .bx:hover {
  color: #ff5c00;
}
.section-introduction {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  align-items: center;
  z-index: 2000;
  top: 0;
  height: 20vh;
  width: 100%;
  background-color: white;
  height: 20vh;
}
.section-introduction i {
  font-size: 2rem;
  display: none;
}
.button a {
  text-decoration: none;
  background-color: #ff5c00;
  color: aliceblue;
  padding: 1rem 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.button {
  padding-top: 3rem;
}
.button a:hover {
  background-color: #393939;
  border: #ff5c00 solid 1.5px;
}
.right-side {
  display: flex;
  gap: 0.5rem;
}
.home {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5c00;
  border-top-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}
.services {
  background-color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services:hover {
  padding: 0.2rem 0.5rem;
  background-color: #ff5c00;
  border-top-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 1s;
}
.services-provided {
  min-height: 100vh;
  text-align: center;
  padding: 9rem;
  background: linear-gradient(rgba(37, 36, 36, 0.608), rgba(37, 36, 36, 0.608)),
    url(/image/bcc.jpg);
  background-size: cover;
  background-position: center;
}
.services-provided h3 {
  font-size: 3rem;
  color: aliceblue;
}
.services-provided span {
  color: #ff5c00;
}
.btn-get-more {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn-get-more a {
  text-decoration: none;
  background-color: #ff5c00;
  color: aliceblue;
  padding: 1rem 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.btn-get-more a:hover {
  background-color: #393939;
  border: #ff5c00 solid 1.5px;
}

.index-300 {
  color: white;
  font-size: 1.5rem;
}
.about-us {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.about p {
  padding: 1rem;
  color: #b8b0b1;
}
.about h4 {
  padding: 1rem;
  color: #b8b0b1;
  font-size: 13px;
}
.about h3 {
  padding: 0 1rem;
}
.about a {
  text-decoration: none;
  background-color: #ff5c00;
  color: aliceblue;
  padding: 1rem 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.about .btn {
  padding: 1rem;
}
.about a:hover {
  background-color: #393939;
  border: #ff5c00 solid 1.5px;
}
.phone {
  display: none;
}
.motivation-speech p {
  padding: 1rem;
  color: #b8b0b1;
}
.motivation-speech h3 {
  padding: 1rem;
}
.motivation-speech h4 {
  padding-left: 1rem;
  color: #b8b0b1;
  font-size: 13px;
}
.motivation-speech a {
  text-decoration: none;
  background-color: #ff5c00;
  color: aliceblue;
  padding: 1rem 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.motivation-speech .btn {
  padding: 1rem;
}
.motivation-speech a:hover {
  background-color: #393939;
  border: #ff5c00 solid 1.5px;
}
.motivation {
  display: flex;
  height: 100vh;
  gap: 4rem;
  padding: 2rem;
}
.screen-image img {
  width: 30rem;
}
.description {
  padding-top: 3rem;
}
.screen-image {
  position: relative;
  padding-top: 3rem;
}

.courses h3 {
  padding: 1rem;
  color: white;
}
.Connections {
  color: white;
}
.courses .Cyber {
  color: #b8b0b1;
  padding: 0.5rem;
}
.course p {
  color: white;
}
.screen-video {
  position: absolute;
  top: 15%;
  left: 2%;
}
.application-courses {
  display: flex;
  gap: 3rem;
  padding: 3rem;
}
.application-courses .course {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.application-courses {
  min-height: 100vh;
  background: linear-gradient(#1b1b1b, #1b1b1b);
  background-size: cover;
  background-position: center;
}
.our-services p {
  font-size: 1.3rem;
}
.our-services h3 {
  font-size: 2.5rem;
}
.our-services {
  text-align: center;
  padding: 5rem 20rem;
}
.digital .market {
  padding: 0.1rem;
}
.digital .icon {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #ff5c00;
  width: 70%;
}

.digital {
  display: flex;
  background-color: #1b1b1b;
  width: 80%;
  margin-top: 1rem;
}
.middle {
  margin-right: 55px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-image {
  width: 20rem;

  object-fit: contain;
}
.icons {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 3rem;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #ff5c00;
  width: 70%;
}
.core-services p {
  color: #b8b0b1;
  padding: 0.2rem;
}
.core-services h3 {
  color: white;
  padding: 0.2rem 1rem;
}
.core-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 2rem;
  width: 100%;
}
.links {
  margin-top: 2rem;
}
.portifolio p {
  font-size: 19px;
  color: #393939;
  padding: 0.5rem 3rem;
}
.portifolio h3 {
  font-size: 35px;
  padding: 0.5rem 3rem;
}
.portifolio {
  text-align: center;
  padding: 2rem;
}
.all {
  color: aliceblue;
  background-color: #ff5e00c5;
}
.links a {
  text-decoration: none;
  border: #ff5c00 solid 2.5px;
  color: black;
  padding: 0.5rem 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.gallary {
  padding: 3rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(300px auto);
}
.pictures img {
  width: 100px;
}
.get-in-touch p {
  font-size: 1.3rem;
  padding: 0.7rem 3rem;
  color: #b8b0b1;
}
.get-in-touch h3 {
  font-size: 2.5rem;
}
.get-in-touch {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.sign-up-form {
  background-color: #f2f3f5;
  width: 60%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.btn-details {
  padding-bottom: 7rem;
}
input {
  padding: 0.5rem;
  width: 98%;
  outline: none;
  border: none;
}
.submit {
  width: 30%;
  border: none;
  font-size: 16px;
  text-decoration: none;
  background-color: #ff5c00;
  color: aliceblue;
  padding: 1rem 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.submit:hover {
  background-color: #393939;
  border: #ff5c00 solid 1.5px;
}
.contact-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.location p {
  color: #b8b0b1;
}
.location h3 {
  color: #ff5c00;
}
.location .bx {
  font-size: 2rem;
}
.location {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  width: 25%;
  padding: 1rem;
}
.footer h4 {
  font-weight: normal;
  color: #706869;
}
.footer a:hover {
  color: #ff5c00;
}
.footer a {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer {
  background-color: #1f1f1f;
  padding: 3.5rem;
  text-align: center;
}

@media (max-width: 902px) {
  .middle {
    display: none;
  }
  .location {
    width: 35%;
    padding: 1rem;
  }

  .get-in-touch h3 {
    font-size: 2.2rem;
  }
  .get-in-touch p {
    font-size: 1rem;
    padding: 0.7rem 3rem;
    color: #b8b0b1;
  }

  .submit {
    padding: 0.5rem 1rem;
  }
  .links {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    gap: 12px;
    flex: wrap;
  }
  .portifolio p {
    font-size: 15px;
    color: #393939;
    padding: 0.5rem 3rem;
  }
  .portifolio h3 {
    font-size: 30px;
    padding: 0.5rem 3rem;
  }
  .portifolio {
    text-align: center;
    padding: 1rem;
  }
  .all {
    color: aliceblue;
    background-color: #ff5e00c5;
  }
  .links a {
    text-decoration: none;
    border: #ff5c00 solid 2.5px;
    color: black;
    padding: 0.5rem 1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .icons {
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 3rem;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: red;
    width: 40%;
  }
  .digital .market {
    padding: 1rem;
  }
  .digital .icon {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: red;
    width: 40%;
  }
  .digital {
    display: flex;
    background-color: #393939;
    width: 100%;
    margin-top: 1rem;
  }
  .core-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 2rem;
    width: 100%;
  }
  .our-services p {
    font-size: 1.4rem;
  }
  .our-services h3 {
    font-size: 2.5rem;
  }
  .our-services {
    text-align: center;
    padding: 5rem 2rem;
  }
  .application-courses {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
  }
  .screen-image img {
    width: 50vw;
  }
  .screen-image iframe {
    width: 47vw;
    height: 42vh;
    margin: 0 auto;
  }

  .section-introduction i {
    font-size: 2rem;
    display: block;
  }
  .services-provided {
    padding: 2rem;
  }
  .right-side {
    display: flex;
    gap: 0.5rem;
    display: none;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .video-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .motivation {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
  }
  .motivation-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 686px) {
  .pictures img{
    width: 75%;
  }
  .gallary .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about a {
    padding: 1rem 2rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    background-color: #393939;
  }
  .services-provided h3 {
    font-size: 40px;
  }
  .services-provided p {
    font-size: 20px;
  }
  .services-provided {
    padding: 1rem;
  }
  .video-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .motivation-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 647px) {
  .location {
    width: 90%;
    padding: 1rem;
  }
  .contact-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .submit {
    width: 50%;
    font-size: 16px;
    padding: 0.2rem 0.5rem;
  }
  .sign-up-form {
    width: 98%;
  }
  input {
    padding: 0.5rem;
    width: 100%;
  }
  .get-in-touch h3 {
    font-size: 1.5rem;
  }
  .get-in-touch p {
    font-size: 0.9rem;
    padding: 0.7rem 3rem;
    color: #b8b0b1;
  }
  .our-services p {
    font-size: 0.7rem;
  }
  .our-services h3 {
    font-size: 1.5rem;
  }
  .our-services {
    text-align: center;
    padding: 5rem 1rem;
  }
  .btn-get-more a {
    padding: 0.5rem 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .services-provided h3 {
    font-size: 30px;
  }
  .services-provided p {
    font-size: 20px;
  }
  .services-provided {
    padding: 1rem;
  }
  .video-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .motivation-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 378px) {
  .screen-video {
    position: absolute;
    top: 17%;
    left: 2%;
  }
  .screen-image iframe {
    width: 47vw;
    height: 25vh;
    margin: 0 auto;
  }
  .footer {
    font-size: 12px;
    padding: 2rem;
  }
  .location {
    width: 90%;
    padding: 1rem;
  }
  .contact-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .submit {
    width: 50%;
    font-size: 16px;
    padding: 0.2rem 0.5rem;
  }
  .sign-up-form {
    width: 98%;
  }
  input {
    padding: 0.5rem;
    width: 100%;
  }
  .our-services p {
    font-size: 0.7rem;
  }
  .our-services h3 {
    font-size: 1.5rem;
  }
  .our-services {
    text-align: center;
    padding: 5rem 1rem;
  }

  .btn-get-more a {
    padding: 0.3rem 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .button {
    padding-top: 2rem;
  }
  .services-provided h3 {
    font-size: 20px;
  }
  .services-provided p {
    font-size: 15px;
  }
  .services-provided {
    padding: 1rem;
  }
  .video-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .motivation-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 362px) {
}
